.plan{
    background: url(../../../Asset/Image/tripplan.webp) center/cover no-repeat;
}
.plan .row{
    min-height: 60vh;
}
.plan-content span{
    font-size: 28px;
}
.plan-content h2{
    font-size: 60px;
}
.plan-content .btn{
    border-color: transparent!important;
}
.text-plan {
    color: #F07D31;
}


@media only screen and (max-width: 768px) {
    .plan .row {
        min-height: 44vh;
    }
    .plan-content h2{
        font-size: 34px;
    }
}
