.link1 {
  font-size: 24px !important;
  color: #1e90c2;
  transition: color ease-in-out 300ms;
}

.link1:hover {
  color: #F07D31 !important;
}
.active-link {
    transition: color ease-in-out 300ms;
    color: #bf4f04 !important;
  }
/* 
  .navbar-light .navbar-nav .nav-link{
    color: #F07D31 !important;
  }  
   */